{% extends 'split_app/home.html' %}

{% block content %}

    <div class="container">
        <h1>logout!</h1>
        {% if user.is_authenticated %}
        <h3>Hello {{fname}}!</h3>
        <h4>You're successfully logged in.</h4>
        <button type="submit"><a href="/logout">LogOut</a></button>
        {% else %}
        <button type="submit"><a href="/signup">SignUp</a></button>
        <br/>
        <br/>
        <button type="submit"><a href="/signin">LogIn</a></button>
        {% endif %}
{% endblock %}