{% extends 'split_app/home.html' %}

{% block content %}

<div class="container my-3">
    <h3>This is Record for Remaining Bills to Pay.</h3>

    {% for i in add %}
    <div class="card my-2">
        <h5 class="card-header">{{ i.price }} <span>&#x20B9</span></h5>
        <div class="card-body">
          <h5 class="card-title">{{ i.description }}</h5>
          <hr>

          {% for detail in i.persons.all %}
           <div class="input-group mb-7">
                <label for="price" class="col-sm-2 col-form-label"><strong>Name:</strong></label>
                        <div class="col-sm-2">
                            <p class="card-text">{{ detail.name }}</p>     
                        </div>
           </div>
           <div class="input-group mb-7">
                <label for="price" class="col-sm-2 col-form-label"><strong>pay:</strong></label>
                        <div class="col-sm-2">
                            <p class="card-text">{{ detail.pay }}</p>     
                        </div>
           </div>
           <hr>
          {% endfor %}

          <a href="{% url 'delete_paid' i.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div>
    {% endfor %}

</div>



{% endblock  %}